<!DOCTYPE html>
<html lang="en" >
<head>
  	<meta charset="UTF-8">
  	<title>Signup Page in HTML with CSS Code Example</title>
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="/static/s2.css">
	<script language="javascript">
		function show()
		{
			var uname = document.getElementById("name").value;
			var pwd = document.getElementById("pwd").value;
			var email = document.getElementById("email").value;
			var no = document.getElementById("no").value;
			if(uname==''){
				alert("username-missing")
				return false;
			}
			else if(pwd.length==''||pwd.length < 6)
			{
				alert("Password min length is 6.");
				return false;
			}
			else if(email=='')
			{
				alert("Email is missing");
				return false;
			}
			else if(no=='')
			{
				alert("Mobile No is missing");
				return false;
			}
			
			alert("Account Created Successfully!")
			return true;
			

		}
	</script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div >
		<div class="right">
	
		<h5>Signup</h5>
		
		<div class="input">
			<!-- <a href="/static/i3.html">Login</a> -->
			<form action="signup" method="POST" name="myform" onSubmit="return show()">
			<p><input type="text" name="name" id="name"placeholder="Enter your Name"></p>
			<p><input type="password" name="pwd" id="pwd"placeholder="Password"></p>
            <p><input type="text" name="email" id="email"placeholder="Email-id"></p>
            <p><input type="number" name="no" id="no"placeholder="Mobile No"></p>
			<p><input type="submit" value="Create"></p>

			

			</form>
			
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				
	<label>
		
		<span>Keep your credentials safe...</span>
	</label>
			
		</div>
			
			<br>
            
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
