<!DOCTYPE html>
<html lang="en" >
<head>
  	<meta charset="UTF-8">
  	<title>Forget Page in HTML with CSS Code Example</title>
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="/static/s2.css">
	<script language="javascript">
		function show()
		{
			var uname = document.getElementById("name").value;
            var pwd = document.getElementById("pwd").value;
			
			if(uname==''){
				alert("User name-missing");
				return false;
			}
            else if(pwd==''){
				alert("Password-missing");
				return false;
			}
			
			
			return true;
			

		}
	</script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div >
		<div class="right">
	
		<h4>Foget password ?</h4>
		
		<div class="input">
			<!-- <a href="/static/i3.html">Login</a> -->
			{%- for category, message in get_flashed_messages(with_categories = true) %}
			<div class = "alert alert-danger">
			   <p style="color: brown;font-size: large;">{{ message }}</p>

			</div>
		 {%- endfor %}

			<form action="/update" method="POST" name="myform" onSubmit="return show()">
			<p><input type="text" name="name" id="name"placeholder="Enter your user name"></p>
            <p><input type="text" name="pwd" id="pwd"placeholder="Enter your new password"></p>

			<p><input type="submit" value="submit"></p>
			</form>
			


			
		</div>
			
			<br><br>
			
		
				
	<label>
		
		<span>Keep your credentials safe...</span>
	</label>
			
		</div>
			
			<br>
            
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
